body {
  margin: 0;
  padding: 0;
  background: #0b0b10;
  font-family: system-ui, sans-serif;
  overflow: hidden;
}

.scroller {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 7rem 2rem 1rem 2rem;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
}

.column {
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1; /* columns share available space */
  transition: transform 0.3s ease; /* smooth stagger effect */
}

.card img {
  width: 100%;
  height: 15rem;
  border-radius: 16px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

/* self draw */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  pointer-events: none; /* if you want clicks to pass through */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease; /* smooth hide/show */
}

.header.hidden {
  transform: translateY(-120%); /* moves header up */
  opacity: 0;                    /* fade out */
  /* display: none; */
  transition: all 3s ease; /* smooth hide/show */
}

.self-draw-text {
  width: 100%;
  height: 100px;


}

.self-draw-text text {

  fill: none;
  stroke: #fd709e ;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 10s linear forwards;
  font-size: 72px;
  font-family: "Love Light", cursive;
  text-anchor: middle; /* CENTER horizontally */
  dominant-baseline: middle; /* CENTER vertically */

}


@keyframes draw {
  to {
    stroke-dashoffset: 0; /* Draws text to completion */
  }
}

