.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(0,0,0,0);
  opacity: 0;
  transition: background 0.5s ease, opacity 0.5s ease;
}

.modal.show {
  opacity: 1;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  color: #fff;
  position: absolute;
  background: #111111c2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 12px;
  transition: transform 0.5s ease, border-radius 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.modal-content.show {
  opacity: 1;
}

/* .modal img {
  max-width: 30%;
  max-height: 30%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 2rem;
  transition: width 0.5s ease, border-radius 0.5s ease;
} */

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  z-index: 1010;
}

/* lock background scroll */
body.modal-open {
  overflow: hidden;
}
